.central-player {
  background-color: var(--light-grey);
  padding: 1rem;
  position: fixed;
  bottom: 69px;
  max-height: 6rem;
  left: 0;
  width: 100%;
  color: var(--beige);
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
}

.central-player__ctrl-btns {
  gap: 0.75rem;
}
